################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InformationProtection1/bin/Debug/net9.0
/InformationProtection1/obj
